@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.button {
  width: 152px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
}

.input-field {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  color: #B9B9B9;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  width: 100%;
}

.site-header-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.site-logo {
  width: 137px;
  margin-top: 24px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.site-navigation {
  width: 530px;
  display: flex;
  margin-right: auto;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 16px;
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.site-navigation__item-link {
  display: block;
  font-weight: normal;
  font-size: 16px;
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 16px;
}

.active {
  color: #FCFCFC;
  background: #FF4A78;
  border-radius: 26px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.navigation__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.navigation-phone {
  box-sizing: border-box;
  min-width: 158px;
  min-height: 20px;
  padding: 42px 10px 42px 0;
}

.navigation-phone__link {
  font-weight: bold;
  font-size: 16px;
}

.navigation-search {
  box-sizing: border-box;
  min-width: 48px;
  min-height: 36px;
  padding: 38px 8px;
}

.navigation-entrance {
  box-sizing: border-box;
  min-width: 108px;
  min-height: 32px;
  padding: 42px 16px 42px 40px;
}

.navigation-cart {
  box-sizing: border-box;
  min-width: 105px;
  min-height: 32px;
  padding: 42px 16px 42px 40px;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.carousel__content {
  width: 470px;
  display: flex;
  flex-direction: column;
  padding-top: 136px;
  padding-left: 70px;
}

.carousel__title {
  display: block;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.carousel__paragraph {
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding-top: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.carousel__button {
  margin-top: 48px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.carousel__gallery {
  width: 630px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
}

.carousel-gallery__container {
  width: 348px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-gallery__image-big-container {
  width: 312px;
  height: 312px;
  margin-top: 100px;
  margin-bottom: 95px;
  background-color: #FFCBD8;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
}

.carousel-gallery__image-big {
  width: 306px;
  height: 507px;
  margin-top: -100px;
}

.carousel-gallery__button-prev {
  width: 38px;
  height: 38px;
  background-color: inherit;
  background-image: url("../images/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  margin-right: -19px;
  z-index: 2;
}

.carousel-gallery__button-next {
  width: 38px;
  height: 38px;
  background-color: inherit;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  margin-left: -19px;
  z-index: 2;
}

.carousel-gallery__image-small-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFCBD8;
  background-position: center;
  opacity: 0.4;
  z-index: 1;
}

.carousel-gallery__image-small {
  display: block;
  margin: -25px auto 25px;
}

.carousel-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.carousel__switcher {

}

.carousel-switcher__item {

}

.carousel-social {
  width: 104px;
}

.special-offers {
  margin-top: 80px;
}

.special-offers__title {
  display: block;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;

  /*Removed browser default styles */
  margin: 0;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 56px;
}

.offer {
  box-sizing: border-box;
  width: 570px;
  min-height: 268px;
  color: #2D3440;
  background-color: #FF7799;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.offer_raspberry {
  background-image: url("../images/index/raspberries-background.png");
  background-repeat: no-repeat;
}

.offer_marshmallow {
  background-image: url("../images/index/marshmallow-background.png");
  background-repeat: no-repeat;
}

.offer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;

  /*Removed browser default styles */
  margin: 0;
}

.offer__conditions {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0 0 0;
}

.offer__button {
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #2D3440;
  margin-top: 32px;
}

.bestsellers {
  margin-top: 80px;
  padding: 0;
}

.bestsellers__description {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  /*Removed browser default styles */
  padding: 0;
}

.product {
  box-sizing: border-box;
  width: 270px;
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 91px 0 0 0;
}

.product__image-container {
  display: block;
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  margin: -51px 0 0 51px;
}

.product__image {
  width: 270px;
  height: 184px;
  margin-left: -51px;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.product__content-container {
  width: 190px;
  padding-left: 40px;
  padding-right: 40px;
}

.product__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 10px 0 0 0;
}

.product__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin: 8px 0 20px 0;
}

.product__price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 28px 0;
}

.product__button {
  width: 32px;
  height: 32px;
  background: #FF2F64 url("../images/icons/cart-catalog.svg") no-repeat 50% 50%;
  border-radius: 26px;
  border-style: none;
}

.about-us {
  box-sizing: border-box;
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/index/about-us-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;
  padding: 24px;
}

.about-us__container {
  background: #FCFCFC;
  border-radius: 16px;
  padding: 56px 40px;
}

.about-us__info {
  display: block;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;

  /*Removed browser default styles */
  margin: 0;
}

.about-us__content {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 31px;
}

.about-us__paragraph {
  width: 442px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  padding-left: 64px;

  /*Removed browser default styles */
  margin: 0;
}

.own-production-icon {
  background-image: url("../images/icons/ice-cream.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: left;
}

.quality-ingredients-icon {
  background-image: url("../images/icons/leaf.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.proven-partners-icon {
  background-image: url("../images/icons/cow.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.special-delivery-icon {
  background-image: url("../images/icons/thermometer.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.connection-container {
  height: 220px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.blog {
  box-sizing: border-box;
  width: 570px;
  height: 216px;
  background-image: url("../images/index/blog-background.jpg");
  border-radius: 16px;
  padding-left: 32px;
  padding-top: 32px;
}

.blog__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #565C66;
}

.blog__link {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2D3440;
}

.subscribe {
  box-sizing: border-box;
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 6px;
}

.subscribe-container {
  box-sizing: border-box;
  width: 558px;
  min-height: 208px;
  background: #FCFCFC;
  border-radius: 16px;
  padding: 26px;
}

.subscribe__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.subscribe-form {
  width: 508px;
}

.subscribe-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-form__input {
  box-sizing: border-box;
  width: 332px;
  height: 48px;
}

.subscribe-form__button {
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.delivery {
  width: 1170px;
  height: 534px;
  background-image: url("../images/index/delivery-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.delivery__info {
  max-width: 371px;
  padding-top: 167px;
  padding-left: 100px;
}

.delivery__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  /*Removed browser default styles */
  margin: 0;
}

.delivery__text {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 24px 0 0 0;
}

.delivery-form {
  box-sizing: border-box;
  width: 500px;
  background: #FCFCFC;
  border-radius: 8px;
  margin: 64px;
  padding: 40px;
}

.delivery-form__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;
}

.delivery-form-container {
  display: flex;
}

.delivery-form__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.delivery-form__icon {
  border-style: none;
  width: 14px;
  height: 14px;
  background-color: #FCFCFC;
  background-image: url("../images/icons/delivery.svg");
  background-repeat: no-repeat;
}

.delivery-form__input {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #B9B9B9;
}

#date {
  width: 117px;
  height: 48px;
}

#phone {
  width: 287px;
  height: 48px;
}

#address {
  width: 420px;
  height: 76px;
}

.contacts {
  box-sizing: border-box;
  width: 1170px;
  height: 492px;
  background-image: url("../images/index/address-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  padding: 64px;
  margin-top: 80px;
}

.contacts__container {
  box-sizing: border-box;
  width: 343px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.contacts__title {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
}

.contacts__address {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0 0 0;
}

.contacts__info-phone {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 24px 0 0 0;
}

.contacts__phone {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 12px 0 0 0;
}

.contacts__working-hours {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
}

.contacts__button {
  width: 250px;
  height: 56px;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  margin: 32px 0 0 0;
}

.site-footer {
  box-sizing: border-box;
  display: flex;
  width: 1170px;
  padding: 48px 14px 48px 4px;
  margin: 0 auto;
}

.footer-social {
  width: 104px;
  box-sizing: border-box;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.social__item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social-vk-icon {
  background-image: url("../images/icons/vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-facebook-icon {
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-instagram-icon {
  background-image: url("../images/icons/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-documents {
  width: 356px;
  margin-left: 299px;
  margin-right: auto;
}

/*TODO change from flex to grid*/
.footer-documents__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-documents__item {
  flex-basis: 50%;
}

.footer-documents__icon {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.footer-documents__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-left: 24px;
}

.footer-documents__link b {
  font-weight: bold;
}

.footer-developer {
  width: 193px;
}

.footer-developer__image {
  margin: 0;
  padding: 0;
}

.footer-developer__company {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding-top: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  column-gap: 20px;
}

.breadcrumbs__item {
  padding: 32px 8px 16px;
}

.breadcrumbs__item:first-child {
  padding-left: 0;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
}

.breadcrumbs__link {
  color: #2D3440;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.catalog-filters {
  /*TODO remove it. Use grid*/
  display: none;
}

.catalog {
  /*TODO Use grid*/
}

.catalog-footer {
  width: 100%;
}

.catalog-footer__container {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;
}

.pagination__button {
  width: 185px;
  padding: 12px 32px;
  margin-left: 494px;
  margin-right: auto;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;

  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  /*Removed browser default styles */
  margin: 0;
}

.pagination__item {
  width: 24px;
  height: 24px;
  display: block;
}

.pagination__link {
  width: 10px;
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  margin: 2px auto;
}

.pagination__item:first-child {
  padding-left: 0;
}

.pagination__item:last-child {
  padding-right: 0;
}

.pagination_arrow {
  width: 24px;
  height: 24px;
  display: block;
}

.pagination_prev {
  width: 8px;
  height: 24px;
  display: block;
  margin-right: auto;
}

.pagination_next {
  width: 8px;
  height: 24px;
  display: block;
  margin-left: auto;
}

.pagination_current {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 50%;
}

.catalog-navigation_focused > a {
  text-decoration: none;
}

.catalog-delimiter {
  margin: 0 auto;
  width: 1170px;
  height: 0;

  border: 1px solid rgba(252, 252, 252, 0.3);
}







