@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 80px;
  min-height: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  display: none;
}

.site-header {
  display: flex;
  float-wrap: wrap;
  flex-direction: row;

  width: 1170px;
  margin: 0 auto;
}

.site-logo {
  width: 137px;
  margin-top: 24px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.site-navigation {
  width: 530px;
  margin-top: 34px;
  margin-bottom: 34px;
  margin-right: auto;
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  float-wrap: wrap;
  flex-direction: row;
}

.site-navigation__item-link {
  font-size: 16px;
  line-height: 20px;
}

.user-navigation {
  width: 419px;
  margin-top: 34px;
  margin-bottom: 34px;
}

.user-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  float-wrap: wrap;
  flex-direction: row;
}

.user-navigation__item-link {
  font-size: 16px;
  line-height: 20px;
}

.user-navigation__link_size_small {
  font-size: 14px;
  line-height: 20px;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  float-wrap: wrap;
  flex-direction: row;
}

.carousel__content {
  width: 540px;
  margin: 0 auto;
}

.carousel__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.carousel__paragraph {
  font-size: 18px;
  line-height: 24px;
}

.carousel__gallery {
  width: 630px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-gallery__container {
  width: 348px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-gallery__button-prev {
  width: 38px;
  height: 38px;
  border-style: none;
  background-color: inherit;
  background-image: url("../images/icons/arrow-left.svg");
  background-repeat: no-repeat;
}

.carousel-gallery__button-next {
  width: 38px;
  height: 38px;
  border-style: none;
  background-color: inherit;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  margin-left: -19px;
}

.carousel-gallery__image-container {
  /*width: 312px;*/
  /*background-color: #FFCBD8;*/
}

.inner {
  width: 312px;
  border-radius: 50%;
}

.carousel-gallery__image-big {
  width: 306px;
}

.carousel-gallery__image-small {
  padding-left: 41px;
}

.carousel-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.carousel__switcher {

}

.carousel-switcher__item {

}

.carousel-social {
  width: 104px;
}

.special-offers__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  text-align: center;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.offer {
  width: 570px;
  height: 268px;
  color: #2D3440;
  background-color: #FF7799;
  border-radius: 16px;
}

.offer_raspberry {
  background-image: url("../images/index/raspberries-background.png");
  background-repeat: no-repeat;
}

.offer_marshmallow {
  background-image: url("../images/index/marshmallow-background.png");
  background-repeat: no-repeat;
}

.offer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;

  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
}

.offer__conditions {
  font-size: 16px;
  line-height: 22px;
  padding-left: 40px;
}

.offer__button {
  margin-left: 40px;
}

.description {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  color: #2D3440;
  text-align: center;
}

.products {
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.product {
  width: 270px;
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 8px;
}

.product__image-container {
  display: block;
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  margin: -51px 0 0 51px;
}

.product__image {
  width: 270px;
  height: 184px;
  margin-left: -51px;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.product__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
}

.product__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  text-align: center;
  color: #565C66;
}

.product__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.product__button {
  width: 32px;
  height: 32px;
  background: #FF2F64 url("../images/icons/cart-catalog.svg") no-repeat 50% 50%;
  border-radius: 26px;
  border-style: none;
}

.about-us {
  box-sizing: border-box;
  width: 1170px;
  background-image: url("../images/index/about-us-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 24px;
}

.about-us__container {
  background: #FCFCFC;
  border-radius: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.about-us__info {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.about-us__content {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
}

.about-us__paragraph {
  display: block;
  width: 442px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  padding-left: 64px;
}

.own-production-icon {
  background-image: url("../images/icons/ice-cream.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: left;
}

.quality-ingredients-icon {
  background-image: url("../images/icons/leaf.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.proven-partners-icon {
  background-image: url("../images/icons/cow.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.special-delivery-icon {
  background-image: url("../images/icons/thermometer.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.connection-container {
  height: 220px;
  display: flex;
  justify-content: space-between;
}

.blog {
  box-sizing: border-box;
  width: 570px;
  height: 216px;
  background-image: url("../images/index/blog-background.jpg");
  border-radius: 16px;
  padding-left: 32px;
  padding-top: 32px;
}

.blog__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #565C66;
}

.blog__link {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #2D3440;
}

.subscribe-container {
  width: 570px;

  background-image: url("../images/index/subscribe-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe {
  box-sizing: border-box;
  width: 558px;
  height: 208px;
  background: #FCFCFC;
  border-radius: 16px;
  margin: 0 auto;
  padding: 26px;
}

.subscribe__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.subscribe-form__input {
  width: 332px;
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}


.subscribe-form__button {

}

.delivery {
  width: 1170px;
  height: 534px;
  background-image: url("../images/index/delivery-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;

  display: flex;
  float-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.delivery__info {
  max-width: 371px;
  padding-top: 167px;
  padding-left: 100px;
}

.delivery__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  color: #2D3440;
}

.delivery__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  box-sizing: border-box;
  width: 500px;
  background: #FCFCFC;
  border-radius: 8px;
  margin: 64px;
  padding: 40px;
}

.delivery-form__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;
}

.delivery-form-container {
  display: flex;
}

.delivery-form__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.delivery-form__icon {
  border-style: none;
  width: 14px;
  height: 14px;
  background-color: #FCFCFC;
  background-image: url("../images/icons/delivery.svg");
  background-repeat: no-repeat;
}

.delivery-form__input {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #B9B9B9;
}

#date {
  width: 117px;
  height: 48px;
}

#phone {
  width: 287px;
  height: 48px;
}

#address {
  width: 420px;
  height: 76px;
}

.contacts {
  box-sizing: border-box;
  width: 1170px;
  height: 492px;
  background-image: url("../images/index/address-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  padding: 64px;
}

.contacts__container {
  box-sizing: border-box;
  width: 343px;
  height: 364px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.contacts__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.contacts__address {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.contacts__info-phone {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.contacts__phone {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.contacts__working-hours {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.site-footer {
  display: flex;
  width: 1170px;
  padding-top: 48px;
  margin: 0 auto;
}

.footer-social {
  width: 104px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-vk-icon {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-facebook-icon {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-instagram-icon {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-documents {
  width: 356px;
  margin-left: 299px;
  margin-right: auto;
}

.footer-documents__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-documents__item {
  flex-basis: 50%;
}

.footer-documents__icon {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.footer-documents__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-left: 24px;
}

.footer-documents__link b {
  font-weight: bold;
}

.footer-developer {
  width: 193px;
}

.footer-developer__company {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}








